.header, .footer {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    box-shadow: cadetblue;
}
.logo {
    width: 100px;
    height: 85px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.restaurant-card {
    padding: 5px;
    margin: 10px;
    width: 300px;
    border-radius: 2%;
    background-color: lightgray;
    word-wrap: break-word;

}
.restaurant-card-shimmer {
    padding: 5px;
    margin: 10px;
    width: 300px;
    height: 400px;
    border-radius: 2%;
    background-color: lightgray;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-image {
    width: 100%;
    height: 220px;
    border-radius: 2%;
}
.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.search-input:hover {
    border: 1px solid black;
}

.search-button, .filter-button {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
}

.search-container {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    align-content: center;
}

.login-button {
    cursor: pointer;
    font-size: 16px;
}

.restaurant-info-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}

.restaurant-details, .restaurant-menu {
    padding: 5px;
    margin: 5px;
}
